{% extends "base.html" %}

{% block css %}
{{block.super}}
{% endblock css %}

{% block content %}
    <div class="container">
      <div class="row">
      <b>Brief Description:</b>

<p>Stalkroid project deals with the need of understanding the path of asteroid, types and different sizes of asteroids as they not only possess the potential dangers for future human civilization but also bring about a chance to understand our neighbourhood, early solar system and for generating revenue and drive global economy in the information age. </p>

<b>Role of Asteroid:</b>

<p>Asteroids impact have been known to wipe out civilizations, at least two evidence support this, one of the famous being of Dinosaurs. They have changed the course of evolution many times and are responsible for the diversity of life in planet as we know today. Not all asteroids possess the threat. It depends on the frequency and the magnitude of asteroid impact, and the orbital path it follows. We are still at amateur level as far as asteroid study is concerned. Everyday, we discover new families of asteroids and their orbital paths. Hence, it has to be studied with greater purpose.</p>

<p>The need of asteroid exploration is completely not based on the potential human threat. Asteroids have been known as life carrier in micro organic scale, for instance, Extremophiles. They not only export life, but also the rich chemistry of chemicals to construct the ecology for the planet making it a habitable zone. There are belts of asteroids carrying fossils and genetic code of micro-organisms. Different families of asteroids are made up of different elements and can be extracted for our own purpose. Hence, the deeper research on asteroid and the material they possess will enhance in transparent picture of the early solar system period.</p>


<b>Asteroid Zone:</b>
<p>The most prominent zone for asteroid belt is in between Mars and Jupiter. Jupiter saves inner zone rocky planets from asteroid impact due to its prominent gravitational force. However, orbital resonance is the vital reason for the asteroids to be thrown out of their regular orbits and travel inside the inner planet zone as ballistic missiles. These are the most dangerous asteroids which need critical observation. There lies the underlying emerging need to launch more satellites in Mars orbit for better visualization, prediction and study of the orbits and asteroids itself. Henceforth, prediction of asteroids from Mars gives an added advantage of time in case of potential hazardous threat to Earth.</p>
<br />
<div class="img text-center">
<img src="/static/img/why1.jpg" class="img-responsive">
</div>
<br /><br />
<p>This picture of Eros, the first of an asteroid taken from an orbiting spacecraft, is a mosaic of four images obtained by NASA's NEAR mission immediately after the spacecraft's insertion into orbit.</p>
<br />
<br />

<div class="img text-center">
<img src="/static/img/why2.jpg" class="img-responsive">
</div>
<br />
<br />

The above graph has been taken from NASA’s Near Earth Object Program. It shows the number of asteroids discovered near our planet every six months for a particular calendar year. It shows that the discovery of asteroids have risen significantly each year, specially from 90’s to early 21st century and typically in last four years. This not only shows the growth of scientific advancement in spectroscopy techniques, but also the rapid increase of laboratories and observatories on Earth and prominent rise in lower Earth satellites. 
 
The interesting thing to mention is that the rise of technology has take us further ahead in discovery and understanding of asteroids. However, there is an urgent need of scaling this to another level, where we can go for mining of these near Earth asteroids for scientific knowledge and also to generate global revenue by using the materials in these asteroids. For instance, there are asteroids possessing Platinum, twice more than on Earth. Billions of dollars can fuel the GDP (Gross Domestic Product) of the economy through these asteroid exploration.

Hence, asteroid study is a revelation for understanding the early Solar System, the Extremophiles, the materials asteroid possess, its mining for global economy fuel and for divergence of the potential threat it poses. This is the next generation technology driven emerging science and it will in coming years take us to the frontier of space science exploration.

      </div>
    </div>
{% endblock %}