body {
    background-color: #02001d;
    color: #dcdcdc;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Roboto', sans-serif;
}

a {
    color: #eadc00;
}

.menu {
    padding-top: 40px;
    padding-bottom: 45px;
}

hr {
    border-top: 1px solid #eadc00;
}

.img-responsive {
    display: inline;
}

.circle {
border-radius: 50%;
display: inline-block;
background: #eadc00;
color: #02001d;
margin-bottom: 50px;
margin-top: 50px;
}

h2 {
    color: #eadc00;
}

.vertical-align {
    display : table-cell;
    vertical-align : middle;
    float:none;
}

.asteroid-name {
    
}

.moon {
    padding-left: 100px;
}

.data {
    font-size: 18px;
}

footer {
    margin-top: 40px;
}